<!--scrolling content Modal -->
<div
  class="modal fade"
  id="add-category"
  tabindex="-1"
  role="dialog"
  aria-labelledby="add-category"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-category">
          Input Category
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form action="/admin/category" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter Name"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Close</span>
          </button>
          <button
            type="submit"
            class="btn btn-primary ml-1"
          >
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
