<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a href="index.html">
            <!-- <img src="/mazer/assets/images/logo/logo.png" alt="Logo" srcset=""/> -->
            <strong>Staycation</strong>
          </a>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"
            ><i class="bi bi-x bi-middle"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">

        <li class="sidebar-title">Main</li>

        <li class="sidebar-item active">
          <a href="/admin/dashboard" class="sidebar-link">
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="sidebar-title">Master</li>

        <li class="sidebar-item">
          <a href="/admin/category" class="sidebar-link">
            <i class="bi bi-bookmark-check-fill"></i>
            <span>Category</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/bank" class="sidebar-link">
            <i class="bi bi-credit-card-2-front-fill"></i>
            <span>Bank</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/item" class="sidebar-link">
            <i class="bi bi-house-fill"></i>
            <span>Item</span>
          </a>
        </li>

        <li class="sidebar-title">Order</li>

        <li class="sidebar-item">
          <a href="/admin/booking" class="sidebar-link">
            <i class="bi bi-basket-fill"></i>
            <span>Booking</span>
          </a>
        </li>

        <li class="sidebar-title">Option</li>

        <li class="sidebar-item">
          <a href="/admin/logout" class="sidebar-link">
            <i class="bi bi-door-closed-fill"></i>
            <span>Logout</span>
          </a>
        </li>

      </ul>
    </div>
    <button class="sidebar-toggler btn x">
      <i data-feather="x"></i>
    </button>
  </div>
</div>
